[Unit]
Description=movementDetection service
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
Restart=always
ExecStart=/bin/bash /home/gardenpi/gardenpi/scripts/start.sh
ExecStop=/bin/bash /home/gardenpi/gardenpi/scripts/stop.sh
RestartSec=5
TimeoutSec=60
RuntimeMaxSec=infinity
PIDFile=/tmp/movementDetection.pid

[Install]
WantedBy=multi-user.target