[Unit]
Description=movementDetection service
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
Restart=always
ExecStart=/bin/bash /home/gardenpi/gardenpi/scripts/start.sh
ExecStart=/bin/bash /home/gardenpi/gardenpi/scripts/stop.sh

[Install]
WantedBy=multi-user.target